#errorMsgForSeat {
		clear: both;
	}

	.seat-logo 
	{
		float: left;
		text-align: center;
		margin:2px;
	}
	.seat-logo-blank {
		float: left;
		height: 40px;
		margin: 5px;
		width: 35px;
	}
	.seat-note 
	{
		border-top: 1px solid #e5e5e5;
		clear: both;
		display: inline-block;
	}
	
	.driver-seat {
		background: rgba(0, 0, 0, 0) url("../seats/steering_wheel.png") no-repeat scroll 0 0;
		height: 40px;
		width: 35px;
	}

	.available-seat 
	{
		background: rgba(0, 0, 0, 0) 
		url("../seats/seat_available.png") no-repeat scroll 0 0;
		height: 40px;
		margin-bottom: 2px;
		width: 35px;
	}
	.blocked-seat {
		background: rgba(0, 0, 0, 0) 
		url("../seats/seat_busy.png") no-repeat scroll 0 0;
		height: 40px;
		margin-bottom: 2px;
		width: 35px;
	}
	.seat-note .available-seat, .available-seat-sample, .seat-note .blocked-seat, .seat-note .booked-seat {
		margin: 0 auto;
	}
	.available-seat-sample {
		background: rgba(0, 0, 0, 0) 
		url("../seats/seat_available.png") no-repeat scroll 0 0;
		height: 40px;
		width: 35px;
	}
	.booked-seat {
		background: rgba(0, 0, 0, 0) 
		url("../seats/seat_booked.png") no-repeat scroll 0 0;
		height: 40px;
		margin-bottom: 2px;
		width: 35px;
	}
	.selected-seat {
		background: rgba(0, 0, 0, 0) 
		url("../seats/seat_selected.png") no-repeat scroll 0 0;
		height: 40px;
		width: 35px;
	}
	input[type="radio"], input[type="checkbox"] 
	{
		line-height: normal !important;
		margin: 4px 0 0 !important;
	}
	input[type="checkbox"], input[type="radio"] {
		box-sizing: border-box !important;
		padding: 0;
	}
	[name="chkSeat"] {
		height: 66% !important;
		width: 60% !important;
	}
	.no-seat {
		background: none;
		width: 35px;
		height: 40px;
		margin-bottom: 2px
	}