 	.redactor_editor, 
	.redactor_editor:focus, 
	.redactor_editor div,
	.redactor_editor p,
	.redactor_editor ul, 
	.redactor_editor ol,
	.redactor_editor table, 
	.redactor_editor dl, 
	.redactor_editor blockquote, 
	.redactor_editor pre {
		font-size: 17px !important;
		line-height: 1.5em;
	}
	.redactor_editor, .redactor_editor:focus {
    position: relative;
    overflow: auto;
    margin: 0 !important;
    padding: 10px;
    padding-bottom: 5px;
    outline: none;
    background: none;
    background: url(<?= base_url()?>/assets/images/line-text.png) repeat-y !important;
    box-shadow: none !important;
    white-space: normal;
}